/* 404 Fade In */
.fade-in {
  animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bold-me {
  font-weight: bolder;
}

.img-radius {
  margin: 1rem 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 100%;
  transition: 0.5s;
}

.img-radius:hover {
  border-radius: 10px;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  transition: 0.5s;
}