/* your styles, here */
body {
    font-family:
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.category-img {
  width: 200px;
}

.test {
<<<<<<< HEAD
    color: black;
=======
  color: black;
}

.fade-in {
  animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
>>>>>>> d2e1c18ce5a945da590760ae42757b4a1e1d3cbd
}
